<!-- crumbs start -->
<div class="text-sm">
  <div class="w">
    <div class="flex flex-wrap items-center gap-2.5 py-3">
      <a href="/" class="hover:underline">Home</a>
      <i class="bi bi-chevron-right text-main"></i>
      <a href="#" class="hover:underline">xxx</a>
      <i class="bi bi-chevron-right text-main"></i>
      <span class="text-main">xxx</span>
    </div>
  </div>
</div>
<!-- crumbs end -->
