<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>

  <body>
    <!-- base container start -->
    <div id="app" class="base-container" @vue:mounted="mounted">
      <!-- loading -->
      <div
        class="fixed inset-0 z-50 flex items-center justify-center bg-white"
        v-if="loading_toggle"
      >
        <i class="animate-spin">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="stroke-main"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            fill="none"
            stroke="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="12" y1="2" x2="12" y2="6"></line>
            <line x1="12" y1="18" x2="12" y2="22"></line>
            <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
            <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
            <line x1="2" y1="12" x2="6" y2="12"></line>
            <line x1="18" y1="12" x2="22" y2="12"></line>
            <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
            <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
          </svg>
        </i>
      </div>

      <header>
        <div
          class="flex h-20 flex-wrap items-center justify-center border-b text-center"
        >
          <div class="title-xl w-full">
            <h1>Header</h1>
          </div>
          <div class="mt-1 flex w-full items-center justify-center">
            <span>From src</span>
            <i class="bi bi-chevron-double-right"></i>
            <span>ejs</span>
            <i class="bi bi-chevron-double-right"></i>
            <span>layout</span>
            <i class="bi bi-chevron-double-right"></i>
            <span>header.ejs</span>
          </div>
        </div>
      </header>
